@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
td {
  word-break: break-all;
}
.headerImg,
.printVisible {
  display: none !important;
}

.two > textarea {
  padding: 10px !important;
}
.input-group {
  width: auto !important;
}
@media print {
  * {
    margin: 0;
    padding: 0;
  }
  .input-group-text {
    padding: 0 !important;
  }
  table {
    width: 580px !important;
    margin-left: 35px !important;
  }
  .one {
    display: flex !important;
    flex-direction: column !important;
  }
  .inp-cont {
    flex-direction: row !important;
  }
  .inp-cont > div {
    width: 50% !important;
  }
  .one > input {
    width: 355px !important;
    font-weight: 900 !important;
    margin-top: -35px !important;
    letter-spacing: 1px;
    background-color: transparent !important;
    width: auto;
    font-size: 25px;
  }
  .one > span {
    margin-left: 10px !important;
    margin-top: -30px !important;
  }
  .two {
    margin-top: -35px !important;
    background: transparent !important;
  }
  .two > textarea {
    background: transparent !important;
    border: none !important;
    height: 130px;
    resize: none;
    margin-left: 26px !important;
    height: 90px !important;
    font-size: 20px;
    margin-top: -10px !important;
  }
  .two > div {
    margin-left: -10px !important;
  }
  .two > textarea::-webkit-scrollbar {
    display: none;
  }
  .three > input {
    margin-top: -30px !important;
    margin-left: 130px !important;
    background: transparent !important;
  }
  .four > span {
    margin-left: 35px !important;
  }
  .btn,
  .NoPrint {
    display: none;
  }
  .headerImg {
    display: flex !important;
  }
  .form-control {
    border: 0px;
  }
  .input-group-text {
    border: 0px;
    background-color: white;
  }
  .no-border {
    border: none;
    outline: none;
  }
  .img-left {
    width: 230px !important;
  }
  .img-ryt {
    width: 300px !important;
    margin-top: -20px !important;
  }
  table {
    border: 1px solid black;
  }
}
